@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Suez+One&display=swap");
html {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.jumbotron {
    background-image: url(/assets/img/bg1.jpg);
    background-size: cover;
    height: 350px;
}
#bott {
    margin-top: 30px;
}

#font {
    font-family: "Suez One", serif;
}
.navbar {
    background-color: palevioletred;
    position: fixed;
    z-index: 10;
    width: 100%;
}
/* About product */
.about {
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.about-img {
    display: flex;
    flex-direction: column;
}
.text-image {
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}
h2 {
    color: black;
    text-align: center;
    padding-top: 30px;
}
/* star */
.star {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}
.fa {
    color: black;
    padding: 5px;
}
.checked {
    color: orange;
}
.find-map {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    margin-bottom: 20px;
}
.maping {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Footer */
footer {
    height: 40px;
    background-color: rgb(219, 94, 163);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    #testimoni {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/* box */
.media {
    margin-bottom: 25px;
}
